@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.card-body {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.drawer-side > *:not(.drawer-overlay) {
  transition: transform 0.2s ease-in-out;
}

.underNavCenter {
  height: 100%;
  min-height: inherit;
}

.test {
  border: 1px solid red;
}
