@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --navbar-height: 96px;
  --primary-color: #38bdf8;
  --highlight-text-color: #38bdf8;
  --focus-ring: 0 0 0 1px #38bdf8;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* html { */
/*   /* scroll-behavior: smooth; */
*/
/* } */

.card-body {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.drawer-side > *:not(.drawer-overlay) {
  transition: transform 0.2s ease-in-out;
}

.underNavCenter {
  height: 100%;
  min-height: 100vh;
}

.test {
  border: 1px solid red;
}
