@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    overflow-x: hidden;
}

.card-body {
    padding-bottom: 1rem;
    padding-top: 1rem
}

.drawer-side > *:not(.drawer-overlay) {
    transition: transform 0.2s ease-in-out;
}
